
*.png
*.gif

depr/*
frames/*
!frames/.gitkeep

keys/*
!keys/.gitkeep

cache/*
!cache/.gitkeep

data/prepped/*
!data/prepped/.gitkeep

data/prepped/*
!data/prepped/.gitkeep

data/raw/*
!data/raw/manifest

data/raw/*
!data/raw/manifest

data/ne/*
!data/ne/manifest

.reprozip-trace/*
*.rpz
